doctype html
html
    head

    body
        h1 Thank you for your interest in Happy Chores!
        p This is the information that you have added to our records.
        div
            div="Email: " + email
            div="First Name: " + fname
            div="Last Name : " + lname