
/* Form Style */

.sign-up-form {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	float: left;
}

.form-header {
    padding: 10px 0;
    font-size: 100 %;
    font-weight: 300;
    text-align: left;
    margin: -16px -16px 16px -16px;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="submit"],
.sign-up-form input[type="checkbox"],
.sign-up-form select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.sign-up-form input[type="text"]:focus,
.sign-up-form input[type="submit"]:focus,
.sign-up-form input[type="checkbox"]:focus,
.sign-up-form input[type="button"]:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid var(--lightPop);
}

.sign-up-form input[type="submit"],
.sign-up-form input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: var(--primary);
	border-bottom: 2px solid var(--lightPop);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
	font: 95% Arial, Helvetica, sans-serif;
}

.sign-up-form input[type="submit"]:hover,
.sign-up-form input[type="button"]:hover {
	background: var(--lightPop);
}

.sign-up-form input[type='checkbox'] {
    float: left;
  width: 20px;
}

.sign-up-form input[type='checkbox'] + label {
  display: block;
  width: 500px;
}

.sign-up-form p {
    text-align: right;
}

.sign-up-form input[type="submit"]:disabled {
  background: var(--light);
  color: var(--primary);

}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.sign-up-form input[id='email'] + span {
    display: block;
    text-align: right;
    width: 625px;
    font-size: 85%;
}

.sign-up-form input[id='email'] {
    float: left;
}