:root {
    --main: #EFF4F8;
    --highlight: #fff;
    --button: #2757FF;
    --text: rgba(0,0,0,0.6);
    --light-text: #D3D8E1;
}

html {
    font-family: "Proxima Nova Regular";
    background: var(--main);
    padding: 0;
    margin: 0;
}

body {
    background: var(--main);
    padding: 0;
    margin: 0;  
    display: block;
}

.page {
    display: flex;
    flex-direction: row;
    
}

.add-btn {
    margin-left: 474px;
    margin-top: 66px;
    height: 43px;
    width: 210px;
    border-radius: 21.5px;
    border: none;
    color: var(--highlight);
    font-family: "Proxima Nova Regular";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    background: var(--button);
}

.tabcontent {
    height: 980px;
    width: 1024px;
    padding: 0;
    margin: 0;
    border: 0;
}

/********Navigation Sidebar**********/

.logo {
    width: 237px;
    height: 62px;
    margin-top: 57px;
    margin-left: 47px;
}

section.sidebar {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 1024px;
    margin-left: 15%;
    background-color: var(--highlight);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 100%;
    background-color: var(--highlight);
}

.chore-nav {
    display: flex;
    flex-direction: row;
    font-family: 'Proxima Nova Bold';
    font-size: 16px;
    text-transform: uppercase;
}

.tab {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.tablinks {
    font-size: 16px;
    margin-left: 50px;
    color: var(--light-text);
    letter-spacing: 0;
    line-height: 20px;
    border: none;
    text-transform: uppercase;
    background-color: var(--highlight);
}

.tablinks:hover {
    color: var(--text);
    font-family: 'Proxima Nova Bold';
}

.chore-nav-rooms ul {
    font-family: 'Proxima Nova Regular';
    list-style: none;
    color: var(--text);
    font-size: 16px;
    margin-top: 32px;
    margin-left: 50px;
    line-height: 20px;
    color: var(--text);
}

.chore-nav-rooms li {
    margin-bottom: 42px;
    line-height: 20px;
}

.chore-nav-rooms li a {
    color: #2B2826;
    text-decoration: none;
}

.chore-nav-rooms li:hover {
    width: 32%;
    border-bottom: 3px solid var(--text);
    font-family: 'Proxima Nova Bold';
}

/***********Chore Main Content********/

.chore-container {
    display: flex;
    flex-direction: row;
}

.top-header {
    display: flex;
    flex-direction: row;
    height: 
}

.date {
    color: var(--text);
    font-family: "Proxima Nova Thin";
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 77px;
    margin-left: 48px;
    height: 42px;
    width: 400px;
}

.chore-counter {
    display: flex;
    flex-direction: row;
}

.completed-container {
    height: 208px;
    width: 285px;
    border-radius: 12px;
    background-color: var(--highlight);
    margin-top: 64px;
    margin-left: 48px;
}

.completed {
    color: var(--text);
    font-family: "Proxima Nova Bold";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 18px;
    margin-top: 14.5px;
}

.completed-number {
    height: 208px;
    width: 285px;
    color: #C8C8C8;
    font-family: "Proxima Nova Thin";
    font-size: 131px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 160px;
    text-align: center;
}

.remaining-container {
    height: 208px;
    width: 285px;
    border-radius: 12px;
    background-color: var(--highlight);
    margin-top: 64px;
    margin-left: 69px;
}

.remaining {
    color: var(--text);
    font-family: "Proxima Nova Bold";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 18px;
    margin-top: 14.5px;
}

.remaining-number {
    height: 208px;
    width: 285px;
    color: #C12926;
    font-family: "Proxima Nova Thin";
    font-size: 131px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 160px;
    text-align: center;
}

.main-chore-header {
    height: 30px;
    width: 101px;
    color: #000000;
    font-family: "Proxima Nova Bold";
    font-size: 25px;
    letter-spacing: 0;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 48px;
}

.main-chore-list {
    height: 362px;
    width: 900px;
    border-radius: 12px;
    background-color: var(--highlight);
    margin-left: 48px;
    margin-top: 33px;
}

.chore-list-header {
    display: flex;
    flex-flow: row;
    text-align: left;
    margin-left: 40px;
    padding-top: 24px;
    font-family: "Proxima Nova Regular";
    font-size: 16px;
    font-weight: bold;
    color: var(--button);
}

.chore-list li{
    list-style: none;
    color: rgba(0,0,0,0.6);
    margin-top: 12px;
} 

.no-chore {
    text-align: center;
    margin-top: 100px;
    color: #C12926;
}

.choreListDiv {
    display: flex;
    flex-direction: row;
}

.div2 {
    display: none;
}

input {
    height: 18px;
}

.check {
    margin-left: 1px;
}

.choresListSpan {
    display: flex;
    flex-direction: row wrap;
}

.flex-table-row {
    display: flex;
    flex-flow: row;
}

.flex-table {
    display: flex;
    flex-flow: row wrap;
}

.flex-row {
    width: calc(100% /7);
    text-align: left;
    justify-content: left;
}


/************Family***************/

.family-container {
    display: flex;
    flex-direction: row;
}

.family-list-header {
    color: #000000;
    font-family: "Proxima Nova Bold";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 48px;
}

.family-button {
    
}

.family-nav-header.tablinks {
    line-height: 0;
    /* margin-left: 10px; */
}

.family-member-container {
    height: 408px;
    width: 285px;
    border-radius: 12px;
    background-color: var(--highlight);
    margin-top: 64px;
    margin-left: 48px;
}

.family-member {
    color: var(--text);
    font-family: "Proxima Nova Bold";
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 18px;
    margin-top: 14.5px;
}

.fam ul li {
    list-style: none;
}

.family{
    display: flex;
    flex-direction: row;
}

/*  Buttons  */


.delete {
	display: inline-block;
	width: 15px;
	height: 15px;
    padding: 0 10px;
    color: rgba(0,0,0,0.6);
    margin-left: 51px;
    fill: var(--button);
}

.editbtn {
	width: 20px;
	height: 20px;
    /* padding: 0 0 0 50px;
    margin-left: 113px; */
    
}

.save {
	width: 20px;
	height: 20px;
	/* padding: 0 5px; */
}

.cancel {
	width: 20px;
	height: 20px;
	/* padding: 0 10px; */
}

.check {
    width: 18px;
    height: 18px;
    /* padding: 0 10px 0 10px; */
    color: rgba(0,0,0,0.6);
}




@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/Proxima Nova Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/Proxima Nova Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('fonts/Proxima Nova Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('fonts/Proxima Nova Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Promixa Nova Semibold';
    src: url('fonts/Proxima Nova Semibold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}