body {
    background-image: linear-gradient(to right, purple , black, purple);
    padding: 0;
    margin:0;
}

h1 {
    color: white;
    font-family: 'schoolbully';
    text-align: center;
    font-size: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: mymove 10s infinite;
    }

    @keyframes mymove {
        50% {font: 50px bold;
             font-family: 'schoolbully';}
    }

}

p {
    color: white;
    text-align: center;
}

form {
    font-family: 'lato';
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}