:root {
    --primary: #8d8c8a;
    --dark: #363538;
    --light: #f6f6f6;
    --lightPop: #52d6f4;
    --darkPop: #408697;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #f6f6f6;
    margin: 10px 10px;
    line-height: 1.4;
}

img {
    max-width: auto;
    display: block;
    margin: auto;
    width: 50%;
    max-height: 150px;
}

.top-logo {
    grid-area: showcase;
   height: auto;
   max-width: 100%;
    background: url(img/pic2.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Main Nav */

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: .9rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--darkPop);
    color: var(--light);
}

/* Form Style */

.sign-up-form {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	float: left;
}

.form-header {
    padding: 10px 0;
    font-size: 100 %;
    font-weight: 300;
    text-align: left;
    margin: -16px -16px 16px -16px;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="submit"],
.sign-up-form input[type="checkbox"],
.sign-up-form select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.sign-up-form input[type="text"]:focus,
.sign-up-form input[type="submit"]:focus,
.sign-up-form input[type="checkbox"]:focus,
.sign-up-form input[type="button"]:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid var(--lightPop);
}

.sign-up-form input[type="submit"],
.sign-up-form input[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: var(--primary);
	border-bottom: 2px solid var(--lightPop);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
	font: 95% Arial, Helvetica, sans-serif;
}

.sign-up-form input[type="submit"]:hover,
.sign-up-form input[type="button"]:hover {
	background: var(--lightPop);
}

.sign-up-form input[type='checkbox'] {
    float: left;
  width: 20px;
}

.sign-up-form input[type='checkbox'] + label {
  display: block;
  width: 500px;
}

.sign-up-form p {
    text-align: right;
}

.error {
    display: block;
    width: 1000px;
}

.sign-up-form input[type="submit"]:disabled {
  background: var(--light);
  color: var(--primary);
}